﻿@page
@model iot.Web.Pages.DescargarModel
@{
    ViewData["Title"] = "Descargar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Descargar</h1>
<a asp-page="/DetallesDispositivo" asp-route-idUsuario="@Model.Dispositivo.IdUsuario" class="btn btn-primary">Regresar</a>

