﻿@page
@model iot.Web.Pages.DetallesDispositivoModel
@{
    ViewData["Title"] = "DetallesDispositivo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<h1>Detalles del Dispositivo @Model.Dispositivo.Id</h1><br />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <a asp-page="/PanelUsuario" asp-route-idUsuario="@Model.Dispositivo.IdUsuario" class="btn btn-primary">Regresar</a>
        </div>
        <div class="col-sm">
            <h4>Total de Datos: @Model.Lecturas.Count</h4>
        </div>
        <div class="col-sm">
            <a asp-page="/Descargar" asp-route-id="@Model.Dispositivo.Id" class="btn btn-info">Descargar Lecturas</a>
        </div>
    </div>
</div>
@*<h3>Grafica de Datos</h3>*@
@*<div id="myfirstchart" style="height: 250px;"></div>*@
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Fecha Hora</th>
            <th scope="col">MQ2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Lecturas)
        {
            <tr>
                <td>@item.FechaHora</td>
                <td>@item.MQ2</td>
            </tr>
        }
    </tbody>
</table>


<script>
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            @foreach (var item in Model.Lecturas)
            {
                @:{ Fecha: '@string.Format("{0:u}",item.FechaHora)', MQ2:'@string.Format("{0:u}",item.MQ2)'}
            }
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'Fecha',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['MQ2'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['MQ2']
    });
</script>



