﻿@page
@model iot.Web.Pages.EliminarDispositivoModel
@{
    ViewData["Title"] = "EliminarDispositivo";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Eliminar Dispositivo @Model.Dispositivo.Id</h1>

<h2>¿Realmente deseas eliminar este dispositivo?</h2><br />

<div class="container">
    <div class="row">
        <div class="col-sm">
            <form method="post">
                <input type="hidden" asp-for="@Model.Dispositivo.Id" />
                <input type="hidden" asp-for="@Model.Dispositivo.IdUsuario" />
                <input type="submit" class="btn btn-danger" value="Eliminar" />
            </form>
        </div>
        <div class="col-sm">
            <a asp-page="/PanelUsuario" asp-route-idUsuario="@Model.Dispositivo.IdUsuario" class="btn btn-primary">Cancelar</a>
        </div>
        <div class="col-sm">
           
        </div>
    </div>
</div>

@if (Model.Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Model.Mensaje
    </div>
}

