﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="display-4">Plataforma IoT - SPIREX</h1>
                <p class="lead">Monitorea y Administra los sensores y actuadores desde Internet usando IoT</p>
                <hr class="my-4">
                <p>
                    Intituto Tecnologico Superior de Huichapan <br />
                    ISC <br />
                    Internet de las Cosas <br />
                    EBIX <br />
                    <div class="alert alert-light" role="alert">
                        <a href="mailto:a16021050@iteshu.edu.mx">a16021050@iteshu.edu.mx</a>
                    </div>
                    
                </p>
            </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <h2>Inicia Sesion</h2>
                                </div>
                                <div class="row">
                                    Correo: <input type="email" asp-for="Login.Correo" class="form-control" placeholder="usuario@correo.com" required />
                                </div>
                                <div class="row">
                                    Contraseña: <input type="password" asp-for="Login.Password" class="form-control" placeholder="contraseña" required />
                                </div>
                                <div class="row">
                                    <input type="hidden" asp-for="EsLogin" value="true" /><br />
                                    <input type="submit" class="btn btn-success" value="Iniciar Sesion" />
                                </div>
                                <div class="row">
                                    @if (Model.Error != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                           @Model.Error
                                        </div>
                                    }

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col">
                            <br /><br />
                            <form method="post">
                                <input type="hidden" asp-for="EsLogin" value="false" />
                                <input type="submit" class="btn btn-primary" asp-page="/NuevoUsuario" asp- value="Crear Usuario" />
                                <a class="btn btn-primary" asp-page="/Poblador">Poblar</a>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
