﻿@page
@model iot.Web.Pages.NuevoUsuarioModel
@{
    ViewData["Title"] = "NuevoUsuario";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Nuevo Usuario</h1>

@if (Model.Mensaje != "")
{
    <div class="alert alert-danger" role="alert">
        @Model.Mensaje
    </div>
}

<form method="post">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-text" asp-for="@Model.Usuario.Nombre" />

        <label>Correo</label>
        <input type="text" class="form-text" asp-for="@Model.Usuario.Correo" />

        <label>Password</label>
        <input type="text" class="form-text" asp-for="@Model.Usuario.Password" />

        <input type="hidden" asp-for="@Model.Usuario.Id" /><br />
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </div>
</form>